<button class="jawherr" (click)="toggleDetails()">Afficher les détails</button>
<div *ngIf="showDetails">
  <div *ngFor="let car of cars">
    <div>
      <h1>Détails de la voiture {{ car.name }}</h1>
      <img [src]="car.imageUrl" alt="{{ car.name }}">
      <div class="oi"><p><strong>Modèle:</strong> {{ car.model }}</p></div>
      <div class="om"><p><strong>Année:</strong> {{ car.year }}</p></div>
      <div class="po"><p><strong>Couleur:</strong> {{ car.color }}</p></div>
      <div class="lo"><p *ngIf="car.price"><strong>Prix:</strong> {{ car.price }}</p></div>
      <hr>
    </div>
  </div>
